*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-padding{
    padding: 0 150px;
}

body{
    font-family: 'Inter', sans-serif;
}

.border{
    border: solid 1px #c4e8ed;
}

.logo{
    height: 50px;
    width: 50px;
    background-color: #e5f5fb;
    border-radius: 10px;
    padding: 2px;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-icon{
    width: 20px;
    height: 20px;
}

.normal-icon{
    width: 30px;
    height: 30px;
}

.unselect{
    user-select: none;
}

.divider {
    margin: 10px 0;
    height: 1px;
    background-color: #EDEDED;
    opacity: 1;
}

.body-grey{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    color: #666666;
}

.body-medium{
    font-size: 16px;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    color: #000000;
}


.top-welcome{
    background-color: #F5F5F5;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-welcome-items{
    display: flex;
    gap: 10px;
}

.top-welcome-item{
    display: flex;
    gap: 6px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    max-width: 1200px;
    margin-top: 10px;
}

.navbar-right{
    display: flex;
    gap: 20px;
}

.navbar-center{
    flex: 1;
}

.search-bar{
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    background-color: #F3F9FB;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
}

.search-input{
    border: none;
    flex: 1;
    outline: none;
    background-color: transparent;
}

.categories-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.category-btn{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    border-radius: 18px;
    background-color: #F3F9FB;
}

.category-btn.selected{
    background-color: #008ECC;
    color: white;
}
.category-btn.selected>p {
    color: white !important;
    font-weight: bold;
}

.my-body{
    width: 100%;
    display: flex;
    justify-content: center; /* container'ni o'rtaga */
}

.my-screen{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
    box-sizing: border-box;  /* padding widthni buzmasin */
}

.product-img-detail{
    height: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: visible;
}

.product-img{
    /*flex: ;*/
    height: 330px;
    width: 50%;
    background-color: #EFEFEF;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-img img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: contain;
}

.product-images-item{
    height: 100px;
    width: 100px;
    background-color: #EFEFEF;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.product-images-item img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: contain;
}

.product-title-discounts{
    display: inline-flex;
    gap: 10px;
}

.product-title-discount{
    padding: 0 20px;
    border-radius: 10px;
}

.product-info{
    /*flex: 3;*/
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.add-to-cart-btn{
    background-color: #008ECC;
    display: inline-flex;
    width: 100%;
    max-width: 250px;
    padding: 8px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    user-select: none;
}

.adition{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /*width: 100px;*/
    background-color: rgba(217, 217, 217, 0.46);
    align-items: flex-start;   /* ixtiyoriy: ichidagilar cho‘zilib ketmasin */
    max-width: 100%;
}

.row{
    display: inline-flex;
    gap: 10px;
}

.description{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.46);
    width: 400px;
}

.product-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.body-section-title{
    margin-top: 20px;
    display: flex;
}

.body-section-title{
    font-size: 20px;
}

.section-title{
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: space-between;
}

.body-section-title>span{
    color: #008ECC;
    margin-right: 5px;
}

.body-section-btn{
    user-select: none;
    display: flex;
    align-items: center;
}

.body-section-btn:active{
    transition: transform 0.2s ease-out;
    transform: rotate(0deg) scale(1.1);
}


.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 15px;

}

.product-card{
    width: 100%;
    margin-top: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 2px solid #cdcccc;
    border-radius: 15px;
    height: 295px;
    max-width: 227px;
    overflow: hidden;
}

.product-card-img{
    flex: 5;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.product-card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-discount-badge{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #008ECC;
    border-radius: 0 10px 0 10px;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.product-card-info{
    flex: 3;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.product-card-prices{
    display: flex;
    flex-direction: column;
}

.product-card-btn{
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #008ECC;
    height: 40px;
    width: 48px;
    border-radius: 10px;
}

.product-card-btn>img{
    height: 25px;
    width: 22px;
}

.product-card-btn:active{
    transform: scale(1.04);
    transition-duration: 0.1s;
}

.footer {
    background: linear-gradient(180deg, #071c2f, #061726);
    color: #ffffff;
    padding: 60px 0 0 0;
    font-family: Arial, sans-serif;
}

.footer-container{
    margin-top: 60px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    background-color: #002535;

}

.footer-info {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    color: #cbd5e1;
    line-height: 1.6;
}

.footer .phone {
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
}

.footer .work-time {
    margin-top: 5px;
    font-size: 13px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #38bdf8;
}


@media (max-width: 900px) {
    .footer-info {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .footer-info {
        grid-template-columns: 1fr;
    }
}

/*mobile*/
@media (max-width: 768px) {
    .my-padding {
        padding: 0px;
    }

    .top-welcome {
        padding: auto;
        display: flex;
        justify-content: center;
    }

    .top-welcome-item{
        display: none;
    }

    .navbar-left, .navbar-right{
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-section-btn{
        display: none;
    }

    .products{
        grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    }
}

/*tablet*/
@media (max-width: 820px) {
    .product-img-detail{
        flex-direction: column;
        height: auto;
        overflow: visible;
    }
    .product-images{
        flex-direction: row;
    }
    .product-img{
        width: 100%;
    }
   

    .product-info{
        width: 100%;
        display: flex; /* inline-flex bo‘lsa tor bo‘lib qolishi mumkin */
    }
}
