*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
.my-padding{
    padding: 0 150px;
}

body{
    font-family: 'Inter', sans-serif;
}

.border{
    border: solid 1px #c4e8ed;
}

.logo{
    height: 50px;
    width: 50px;
    background-color: #e5f5fb;
    border-radius: 10px;
    padding: 2px;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-icon{
    width: 20px;
    height: 20px;
}

.normal-icon{
    width: 30px;
    height: 30px;
}

.unselect{
    user-select: none;
}

.divider {
    margin: 10px 0;
    height: 1px;
    background-color: #EDEDED;
    opacity: 1;
}

.body-grey{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    color: #666666;
}

.body-medium{
    font-size: 16px;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    color: #000000;
}


.top-welcome{
    background-color: #F5F5F5;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-welcome-items{
    display: flex;
    gap: 10px;
}

.top-welcome-item{
    display: flex;
    gap: 6px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    max-width: 1200px;
    margin-top: 10px;
}

.navbar-right{
    display: flex;
    gap: 20px;
}

.navbar-center{
    flex: 1;
}

.search-bar{
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    background-color: #F3F9FB;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
}

.search-input{
    border: none;
    flex: 1;
    outline: none;
    background-color: transparent;
}

.categories-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.categories-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: auto;
    padding: 15px 10px;
    scroll-behavior: smooth;
}

.categories-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.category-card {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.category-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcd9d9;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-circle:hover {
    transform: scale(1.1);
    border: 1px solid #008ECC;
    filter: drop-shadow(0px 8px 10px rgba(98, 98, 98, 0.13));
}

.category-circle img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.category-card p {
    margin-top: 10px;
    text-align: center;
    color: #222222;
}

/* Active holat */
.category-card.selected .category-circle {
    transform: scale(1.05);
}


.banner-daily{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#myCarousel {
    height: 307px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0;
}

#myCarousel .carousel-inner img {
    width: 100%;
    height: 307px;
    /*border-radius: 15px;*/
}

.daily-product{
    height: 307px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(178, 178, 178, 0.75);
}

.daily-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.daily-product-title{
    padding: 10px;
}

.timer {
    display: flex;
    align-items: center;
    height: 30px;

    gap: 6px;
    font-weight: bold;
    font-size: 14px;
}

.timer span {
    background: #f3f3f3;
    padding: 4px 6px;
    border-radius: 6px;
}

.daily-product-row{
    margin: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.daily-product-img{
    width: 50%;
}

.daily-product-discount{
    background-color: #E30000;
    border-radius: 10px;
    color: white;
    height: 23px;
    display: inline-flex;
    padding: 0 10px;
    align-items: center;
}

.daily-discounts{
    display: flex;
    gap: 10px;
}

.percent-discount{
    background-color: #FFCC00;
    color: black;
}
.daily-product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.daily-product-price{
    padding: 5px;
    display: inline-flex;
    align-items: center;
    border: 2px solid #434343;
    border-radius: 10px;
}

.button-daily{
    background-color: #008ECC;
    display: inline-flex;
    padding: 8px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    user-select: none;
}

.button-daily:hover{
    background-color: rgb(2, 126, 181);
}

.button-daily:active{
    transform: scale(1.04);
    transition-duration: 0.1s;
}

.daily-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-section-title{
    margin-top: 20px;
    display: flex;
}

.body-section-title{
    font-size: 20px;
}

.section-title{
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: space-between;
}

.body-section-title>span{
    color: #008ECC;
    margin-right: 5px;
}

.body-section-btn{
    user-select: none;
    display: flex;
    align-items: center;
}

.body-section-btn:active{
    transition: transform 0.2s ease-out;
    transform: rotate(0deg) scale(1.1);
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 15px;
}

.cleaners{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 15px;
}

.product-card{
    width: 100%;
    margin-top: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 2px solid #cdcccc;
    border-radius: 15px;
    height: 295px;
    max-width: 227px;
    overflow: hidden;
}

.product-card-img{
    flex: 5;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.product-card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-discount-badge{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #008ECC;
    border-radius: 0 10px 0 10px;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.product-card-info{
    flex: 3;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.product-card-prices{
    display: flex;
    flex-direction: column;
}

.product-card-btn{
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #008ECC;
    height: 40px;
    width: 48px;
    border-radius: 10px;
}

.product-card-btn>img{
    height: 25px;
    width: 22px;
}

.product-card-btn:active{
    transform: scale(1.04);
    transition-duration: 0.1s;
}

.popular-brands{
    display: flex;
    gap: 20px;
}

.popular-brands-item{
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
}

.popular-brands-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}

.popular-brands-item:hover{
    transform: scale(1.08);
    transition-duration: 0.2s;
}

.service-card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-card-title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.service-card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-cards{
    display: flex;
    gap: 20px;
    height: 300px;
}

.service-card{
    display: flex;
    flex:1;
    flex-direction: column;
    border-radius: 15px;
    background-color: #F3F9FB;
    border: solid 1px #c4e8ed;
    overflow: hidden;
}

.service-card-img{
    width: 100%;
    height: 50%;
    flex: 5;
}

.service-card-bottom{
    margin: 10px;
    flex: 3;
}

/*
*/



.membership-card{
    display: flex;
    flex:1;
    flex-direction: column;
    border-radius: 15px;
    background-color: #F3F9FB;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: solid 5px white;
    overflow: hidden;
}

.membership-card-top{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    box-shadow: rgba(179, 175, 175, 0.1) 0px 2px 8px 0px;
    background-color: white;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 16px;
}

.membership-card-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badge {
    background: #e6f1f7;
    color: #2b6cb0;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 6px;
    width: fit-content;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-btn {
    background: transparent;
    border: 1px solid #bbb;
    padding: 6px 24px;
    border-radius: 999px;
    cursor: pointer;
}

.buy-btn:hover{
    background-color: #008ECC;
    color: white;
    border: 1px solid white;
}

.buy-btn:active{
    transform: scale(1.04);
    transition-duration: 0.1s;
}

.price {
    font-size: 18px;
    font-weight: 600;
}

.membership-card-bottom{
    margin: 10px;
    flex: 3;
}


.footer {
    background: linear-gradient(180deg, #071c2f, #061726);
    color: #ffffff;
    padding: 60px 0 0 0;
    font-family: Arial, sans-serif;
}

.footer-container{
    margin-top: 60px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    background-color: #002535;

}

.footer-info {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    color: #cbd5e1;
    line-height: 1.6;
}

.footer .phone {
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
}

.footer .work-time {
    margin-top: 5px;
    font-size: 13px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #38bdf8;
}

.nav-actions{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.nac-action{
    color: #2a3039;
    text-decoration: none;
}
.nac-action:hover{
    text-decoration: none;
}

@media (max-width: 900px) {
    .footer-info {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .footer-info {
        grid-template-columns: 1fr;
    }
}

/*mobile*/
@media (max-width: 768px) {
    .my-padding {
        padding: 0px;
    }
    .top-welcome {
        padding: auto;
        display: flex;
        justify-content: center;
    }
    .top-welcome-item{
        display: none;
    }

    .navbar-left, .navbar-right{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-daily{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #myCarousel{
        height: 200px;
        width: 100%;
    }
    .daily-product{
        height: 240px;
        width: 100%;
    }
    .daily-product img{
        height: 140px;
        width: 140px;
    }
    .button-daily img{
        width: 30px;
        height: 30px;
    }

    .body-section-btn{
        display: none;
    }

    .products{
        grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    }
    .popular-brands, .service-cards{
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    }
}

/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {

}